{% extends "layout.html "%}
{% block title %} {{ chain_opening[2] }} {% endblock %}
{% block content %}
{% if not chain_opening[6] %}
<a href="/topic/{{ chain_opening[0] }}">Takaisin ketjuihin</a>
<hr>
<h3> {{chain_opening[2]}} </h3>
Ketjun aloittaja: {{ chain_opening[5] }} | Päiväys: {{ chain_opening[4] }}<br>
Aloitusviesti: <br> {{ chain_opening[3] }}
<h5>Kommentit:</h5>
<a href="/new_comment/{{ id }}">Uusi kommentti</a> <br>
<hr>
{% for comment in comments %}
<hr>
Käyttäjältä: {{ comment[1] }} | Päiväys: {{ comment[2] }} |
{% if session.username == comment[1] %}
<a href="/edit_comment/{{ comment[3] }}">Muokkaa kommenttia</a> |
<a href="/delete_comment/{{ comment[3] }}">Poista kommentti</a>
{% endif%}
<br>
Kommentti: <br> {{ comment[0] }} <br>
<hr>
<p> </p>
{% endfor %}
{% else %}
Tämä ketju on poistettu <br>
<a href="/">Etusivulle</a>
{% endif %}
{% endblock %}
