{% if session.username == chain[5] and not chain[6] %}
<form action="/editing_chain/{{ chain[1] }}" method="POST">
<p>Otsikko:<br>
<input type="text" value="{{ chain[2] }}" name="title"></p><br>
<p>Entinen aloitusviesti:</p><br>
{{ chain[3] }} <br>
<p>Uusi aloitusviesti:</p><br>
<textarea name="content" rows="5" cols="40"></textarea><br>
<input type="submit" value="Muokkaa ketjun aloitusta">
<input type="hidden" name="id" value="{{ chain[1] }}">
</form>
{% else %}
Sinulla ei ole oikeuksia tähän toimintoon, koska et ole ketjun luoja tai ketju on poistettu. <br>
<a href="/">Etusivulle</a>
{% endif %}
