{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}
{% if session.username == chain[5] and not chain[6] %}
<h3>Muokkaa ketjun aloitusta</h3>
<form action="/editing_chain" method="POST">
<h4>Otsikko:<h4>
<input type="text" value="{{ chain[2] }}" name="title"></p>
<h4>Entinen aloitusviesti:</h4>
{{ chain[3] }} <br>
<h4>Uusi aloitusviesti:</h4>
<textarea name="content" rows="5" cols="40"></textarea><br>
<a href="/chain/{{ 1 }}">Peruuta</a> | 
<input type="submit" value="Muokkaa ketjun aloitusta">
<input type="hidden" name="id" value="{{ chain[1] }}">
</form>
{% else %}
<h3>Sinulla ei ole oikeuksia tähän toimintoon, koska et ole ketjun luoja tai ketju on poistettu.</h3>
<a href="/">Etusivulle</a>
{% endif %}
{% endblock %}
