{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}
{% if session.admin %}
<h3>Määritä, kuka saa tarkastella aluetta</h3>
<form action="/giving_permission" method="POST">
Anna käyttäjänimi, jolle haluat antaa oikeudet tämän alueen tarkasteluun:<br>
<input type="text" name="username"><br>
<a href="/">Peruuta</a> | 
<input type="submit" value="Anna oikeudet"> <br>
Käyttäjät, joilla on oikeudet tarkastella tätä aluetta:
{% for user in users %}
<br>{{ user[0] }}
{% endfor %}
<input type="hidden" name="id" value="{{ id }}">
</form>
{% else %}
Sinulla ei ole oikeuksia tähän toimintoon, koska et ole ylläpitäjä. <br>
<a href="/">Etusivulle</a>
{% endif %}
{% endblock %}
