{% if session.username %}
<p>Olet kirjautuneena nimellä {{ session.username }}
<br>Kirjautuneen user id on {{ session.user_id }} <br>
Kirjautunut käyttäjä on ylläpitäjä: {{ session.admin }} <br> 
<a href="/logout">Kirjaudu ulos</a></p>
<hr>

<form action="/result" method="GET">
Hae hakusanalla: <input type="text" name="query">
<input type="submit" value="Hae">
</form>
<br>
{% if session.admin %}
<a href="/new_topic">Luo uusi alue</a> <br>
{% endif %}
Alueet:
<hr>
{% for topic in topics %}
{% if ( ( topic[2] ) or ( session.admin and not topic[2] ) ) %}
{{ topic[1] }} <br>
Ketjuja tällä aluella: {{ topic[3] }} |
{% for comment in comments %}
{% if comment[0] == topic[0]  %}
Kommentteja tällä alueella: {{ comment[1] }} <br>
{% endif %}
{% endfor%}
<a href="/topic/{{ topic[0] }}">Tarkastele alueen ketjuja</a> |
{% if session.admin %}
<a href="/delete_topic/{{ topic[0] }}">Poista alue</a>
<br>
{% endif %}
{% endif %}
<hr>
{% endfor %}
{% else %}
<p>Kirjaudu sisään</p>
<form action="/login" method="POST">
<p>Käyttäjätunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
<a href="/signing_up">Eikö sinulla ole käyttäjää? Luo käyttäjä</a> <br>
{% endif %}
