{% if session.username %}
<p>Olet kirjautuneena nimellä {{ session.username }}
<a href="/logout">Kirjaudu ulos</a></p>
<hr>

<form action="/search" method="GET">
Hae hakusanalla: <input type="text" name="query">
<input type="submit" value="Hae">
</form>
<br>
Alueet:
<hr>
{% for topic in topics %}
{{ topic[1] }} <br>
<a href="/topic/{{ topic[0] }}">Tarkastele ketjuja</a> <br>
<hr>
{% endfor %}
{% else %}
<form action="/login" method="POST">
<p>Käyttäjätunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
<a href="/sign_up1">Eikö sinulla ole käyttäjää? Luo käyttäjä</a> <br>
{% endif %}
