{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}
{% if session.admin %}
<form action="/create_topic" method="POST">
<h3>Luo uusi alue</h3>
<p>Aihe:</p>
<input type="text" name="topic">
<p>Onko alue julkinen vai yksityinen?:</p>
<input type="radio" name="answer" value="1">Julkinen<br>
<input type="radio" name="answer" value="2">Yksityinen<br>
<a href="/">Peruuta</a> | 
<input type="submit" value="Luo uusi alue">
</form>
{% else %}
Sinulla ei ole oikeutta luoda uutta aluetta, koska et ole ylläpitäjä <br>
<a href="/">Etusivulle</a>
{% endif %}
{% endblock %}
