{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}
{% if session.username %}
<form action="/create_chain" method="POST">
<h3>Luo uusi ketju</h3>
<p>Otsikko:</p>
<input type="text" name="title"><br>
<p>Aloitusviesti:</p>
<textarea name="content" rows="5" cols="40"></textarea><br>
<input type="submit" value="Luo uusi ketju">
<input type="hidden" name="id" value="{{ id }}">
</form>
{% else %}
<h3>Sinun täytyy olla kirjautuneena sisään luodaksesi uuden ketjun </h3>
<a href="/">Kirjaudu sisään etusivulta</a>
{% endif %}
{% endblock %}
