<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
<hr>
{{ topic[0] }} 
<p>Ketjujen määrä tällä alueella: {{ amount }}</p>
<a href="/">Takaisin alueisiin</a> |
<a href="/new_chain/{{ id }}">Aloita uusi ketju</a> <br>
<hr>
{% for chain in chains %}
Ketjun aloittaja: {{ chain[4] }} | Päiväys: {{ chain[3] }} | <a href="/chain/{{ chain[0] }}">Tarkastele ketjua</a> | 
{% if session.username == chain[4] %}
<a href="/delete_chain/{{ chain[0] }}">Poista  ketju</a> |
<a href="/edit_chain/{{ chain[0] }}">Muokkaa ketjun aloitusta</a>
{% endif %}
<br>
Otsikko: {{ chain[1] }} <br>
Aloitusviesti: {{ chain[2] }} <br>
<p> </p>
{% endfor %}
