{% extends "layout.html" %}
{% block title %}{{ topic[0] }}{% endblock %}
{% block content %}
<a href="/">Takaisin alueisiin</a> 
<hr>
<h3>{{ topic[0] }}</h3> 
<p>Ketjujen määrä tällä alueella: {{ amount }}</p>
<a href="/new_chain/{{ id }}">Aloita uusi ketju</a> |  
{% if session.admin %}
<a href="/delete_topic/{{ id }}">Poista alue</a>
{% endif %}
<br>
<hr>
{% for chain in chains %}
<h5> {{ chain[1] }} </h5>
Ketjun aloittaja: {{ chain[4] }} | Päiväys: {{ chain[3] }} | <a href="/chain/{{ chain[0] }}">Tarkastele ketjua</a> | 
{% if session.username == chain[4] %}
<a href="/delete_chain/{{ chain[0] }}">Poista  ketju</a> |
<a href="/edit_chain/{{ chain[0] }}">Muokkaa ketjun aloitusta</a>
{% endif %}
<br>
Aloitusviesti: {{ chain[2] }} <br>
{% endfor %}
{% endblock %}
