<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
<hr>
{{ topic[0] }} 
<p>Ketjujen määrä tällä alueella: {{ amount }}</p>
<a href="/">Takaisin alueisiin</a> |
<a href="/new_chain/{{ topic[1] }}">Aloita uusi ketju</a> <br>
<hr>
{% for chain in chains %}
{% for message in opening_messages %}
{% if message[2] == chain[0] %}
Päiväys{{ message[1] }} | <a href="/chain/{{ chain[0] }}">Tarkastele ketjua</a><br>
Otsikko: {{ chain[1] }} <br>
Aloitusviesti: {{ message[0] }} <br>
<p> </p>
{% endif %}
{% endfor %}
{% endfor %}
